
.movies__item {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.movies__poster {
    width: 100%;
    height: 151px;
    object-fit: contain;
    
}

.movies__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 14px 0 0 0;
    padding: 0 0 29px 0;
    border-bottom:  2px solid rgb(232, 232, 232);
}

.movies__title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.movies__like {
    width: 24px;
    height: 24px;
    background-image: url('../../images/like-noactive.png');
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.movies__like_active {
    background-image: url('../../images/like-active.svg');
    
}

.movies__like_delete {
    background-image:url('../../images/delete-icon.svg')
}

.movies__duration {
    margin: 6px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgb(160, 160, 160);

}

.movies__like:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}




@media screen and (max-width:714px) {
    .movies__item {
        margin: 0 auto;
        max-width: 500px;
    }

    }


    @media screen and (max-width:520px) {
        .movies__item {
            max-width: 330px;
        }
        
        .movies__poster {
            height: 168px;
        }

        .movies__container {
            margin-top: 15px;
        }

        .movies__title {
            font-size: 12px;
            line-height: 15px;
        }

        .movies__duration {
            font-size: 10px;
            line-height: 12px;
        }

}
