
.portfolio {
        margin: 100px auto 125px;
        padding: 0 70px;
        width: 100%;
        max-width: 1280px;
    
}

.portfolio__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: rgb(160, 160, 160);
    mix-blend-mode: normal;
}

.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__list-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
    padding: 0 0 19px;
    border-bottom: 2px solid rgb(232, 232, 232);
}

.portfolio__link {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.portfolio__coursor {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: rgb(0, 0, 0);
}

.portfolio__link:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.portfolio__coursor:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.portfolio__list-item:first-child {
    margin-top: 50px;
}