
.header {
    margin: 18px auto 0;
    padding: 0;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    background-image: url('../../images/logo.svg');
    width: 38px;
    height: 38px;
}

.header__navigation-container {
    display: flex;
    align-items: center;

}

.header__link_movies {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0 0 0 44px;
    text-decoration: none;
    cursor: pointer;

}

.header__link_movies-noactive {
    font-weight: normal;
}

.header__link_saved-movies {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0 0 0 16px;
    text-decoration: none;
    cursor: pointer;

}

.header__link_saved-movies-noactive {
    font-weight: normal;
}

.header__link_movies:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.header__link_saved-movies:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.header__link_profile {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 8px 20px;
    background-color: rgb(249, 249, 249);
    border-radius: 20px;

}

.header__link_profile:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.header__sidebar-open {
    background-image: url('../../images/sidebar-icon.svg');
    width: 44px;
    height: 44px;
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.header__sidebar {
    display: none;
}


@media screen and (max-width:810px) {
    .header__link_profile {
        display: none;
    }

    .header__link_saved-movies {
        display: none;
    }

    .header__link_movies {
        display: none;
    }

    .header__sidebar-open {
        display: inline;
    }
}





/**
ниже находятся стили для кнопок войти и регистрация. Выше сложные стили по сайд-бару
*/

.header__link_signup {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0 30px 0 0;

}

.header__link_signup:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.header__link_signin {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    margin: 0;
    background-color: rgb(43, 224, 128);
    border-radius: 3px;

}

@media screen and (max-width:1160px) {
    .header {
        max-width: 900px;
        
    }
}

@media screen and (max-width:930px) {
    .header {
        max-width: 800px;
        
    }
}



@media screen and (max-width:810px) {
    .header {
        max-width: 708px;
    }

    .header__link_signup {
        margin-right: 14px;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .header__link_signin {
        padding: 5px 12px;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }
}

@media screen and (max-width:720px) {
    .header {
        max-width: 500px;
    }
}


@media screen and (max-width:520px) {
    .header {
        max-width: 296px;
    }
}